
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 70px;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #ff4040;
}


nav a {
    text-decoration: none;
    color: black;
    margin: 0 18px;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #ff4040;
}


.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #ff4040;
    background: white;
    margin-left: 10px;
    transition: 0.3s;
}

.login-btn {
    color: #d16e6e;
}

.login-btn:hover {
    background: #ff4040;
    color: white;
    border: none;
}

.signup-btn:hover{
    background: #ff4b4b;
    color: #fff;
    padding: 14px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.signup-btn:hover, 
.signup-btn:active{
     background: #c90000;
}





.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background: linear-gradient(to right, #ffffff, #ffe8e8);
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-text p {
    font-size: 18px;
    color: #444;
    margin-bottom: 25px;
}

.order-btn {
    background: #ff4b4b;
    color: #fff;
    padding: 14px 35px;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.order-btn:hover {
    background: #d40000;
    transform: scale(1.05);
}


.hero-img img {
    width: 450px;
    border-radius: 20px;
    transition: 0.4s;
}

.hero-img img:hover {
    transform: scale(1.08);
}


.search-bar {
    display: flex;
    justify-content: center;
    gap: 15px;
    background: #fff;
    width: 75%;
    margin: -30px auto 50px auto;
    padding: 18px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.search-bar input,
.search-bar select {
    padding: 14px;
    width: 280px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.search-btn {
    background: #ff4b4b;
    color: #fff;
    padding: 14px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.search-btn:hover {
    background: #c90000;
}

.category-section {
    text-align: center;
    padding: 60px 0;
}

.category-section h2 {
    font-size: 32px;
    font-weight: 700;
    color: #222;
    margin-bottom: 35px;
}

.category-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.category-box {
    background: #ffffff;
    width: 140px;
    height: 150px;
    border-radius: 18px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.category-box img {
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
}

.category-box p {
    font-size: 17px;
    font-weight: 500;
    color: #222;
}


.category-box:hover {
    transform: translateY(-10px);
    background: #ff4b4b;
    color: white;
}

.category-box:hover p {
    color: white;
}

.category-box:hover img {
    filter: brightness(0) invert(1);
}

.restaurants-section {
    padding: 60px 70px;
}

.restaurants-section h2 {
    font-size: 34px;
    font-weight: 700;
    color: #111;
    margin-bottom: 30px;
}

.restaurants-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.rest-card {
    width: 270px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    padding-bottom: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.rest-card img {
    width: 100%;
    height: 180px;
    border-radius: 18px 18px 0 0;
}

.rest-card h3 {
    font-size: 20px;
    margin: 10px 15px 5px;
    color: #000;
}

.rest-card p {
    font-size: 15px;
    color: gray;
    margin: 0 15px 10px;
}

.rating {
    font-size: 15px;
    font-weight: 600;
    color: #ff9900;
    margin-left: 15px;
}


.rest-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.18);
}

.promo-section {
    background: linear-gradient(to right, #ffeaea, #fff1f1);
    text-align: center;
    padding: 70px 60px;
}

.promo-section h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.promo-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.promo-box {
    background: #ffffff;
    width: 300px;
    padding: 18px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #222;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
    cursor: pointer;
}


.promo-box:hover {
    transform: translateY(-8px);
    background: #ff4b4b;
    color: #fff;
}
/* TESTIMONIALS */
.testimonials-section {
    text-align: center;
    padding: 70px 50px;
}

.testimonials-section h2 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #000;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.testimonial-card {
    width: 300px;
    background: #ffe8e8;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.18);
}

.testimonial-card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.stars {
    margin: 10px 0;
    color: #ffbb00;
    font-size: 18px;
}

.review {
    font-size: 16px;
    color: #444;
    margin: 10px 0;
    line-height: 1.4;
}

.testimonial-card h4 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
}
/* APP DOWNLOAD SECTION */
.app-section {
    background: linear-gradient(to right, #ffffff, #ffe5e5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 70px;
    flex-wrap: wrap;
}

.app-content {
    max-width: 550px;
}

.app-section h2 {
    font-size: 32px;
    font-weight: 700;
    color: #111;
}

.app-section p {
    font-size: 18px;
    color: #555;
    margin: 15px 0 25px;
}

.store-icons img {
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.store-icons img:hover {
    transform: scale(1.05);
}

.phone-icon {
    margin-top: 20px;
}

/* FOOTER SECTION */
footer {
    background: #222;
    color: #fff;
    padding: 50px 70px 25px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-box h3 {
    color: #ff4b4b;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-box p {
    color: #ddd;
    margin: 8px 0;
}

.copy {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    color: #aaa;
    border-top: 1px solid #444;
    padding-top: 12px;
}

